$color3rd: #585858;
$colorh3: #7f0f28;
$font: Arial, Helvetina, sans-serif;

@mixin titulos {
  font-size: 15px;
  font-weight: bold;
}

header {
  border-top: 15px #e8e8e8 100%;
}

h1 {
  font-size: 32px;
  font-weight: normal;
  color: $color3rd;
  margin-top: 40px;
  margin-bottom: 30px;
}

h3 {
  @include titulos();
  color: $colorh3;
}

h4 {
  @include titulos();
  color: $color3rd;
}