$colorh3: #7f0f28;
$color2nd: #AA1535;
$color3rd: #585858;
$font: Arial, Helvetina, sans-serif;

.navegacion {
display: flex; /* pone el menú en línea horizontal */
justify-content: space-evenly; /* lo distribuye totalmente equitativo */
border-bottom: 4px solid #888;
padding-top: 15px;
padding-bottom: 15px;

a {
    font-size: 15px;
    font-weight: normal;
    color: $color3rd;
    text-decoration: none;
}
}